In [1]:
import mygene
mg = mygene.MyGeneInfo()

In [2]:
xli = ['CCDC83',
 'MAST3',
 'FLOT1',
 'RPL11',
 'ZDHHC20',
 'LUC7L3',
 'SNORD49A',
 'CTSH',
 'ACOT8']

In [3]:
out = mg.querymany(xli, scopes='symbol', fields='entrezgene', species='human')

querying 1-9...done.
Finished.

In [4]:
out

[{u'_id': u'220047',
  u'_score': 97.111275,
  u'entrezgene': 220047,
  u'query': u'CCDC83'},
 {u'_id': u'23031',
  u'_score': 97.78243,
  u'entrezgene': 23031,
  u'query': u'MAST3'},
 {u'_id': u'10211',
  u'_score': 100.25025,
  u'entrezgene': 10211,
  u'query': u'FLOT1'},
 {u'_id': u'6135',
  u'_score': 92.06991,
  u'entrezgene': 6135,
  u'query': u'RPL11'},
 {u'_id': u'253832',
  u'_score': 97.44111,
  u'entrezgene': 253832,
  u'query': u'ZDHHC20'},
 {u'_id': u'51747',
  u'_score': 95.126495,
  u'entrezgene': 51747,
  u'query': u'LUC7L3'},
 {u'_id': u'26800',
  u'_score': 113.22357,
  u'entrezgene': 26800,
  u'query': u'SNORD49A'},
 {u'_id': u'1512',
  u'_score': 97.441795,
  u'entrezgene': 1512,
  u'query': u'CTSH'},
 {u'_id': u'10005',
  u'_score': 94.640076,
  u'entrezgene': 10005,
  u'query': u'ACOT8'}]

In [8]:
mg.querymany?

In [5]:
xl2 = ['NP_064726.1', 'NP_064728.1', 'NP_248701.1', 'NP_248703.1', 'NP_248704.1']

In [6]:
out2 = mg.querymany(xl2, scopes='RefSeq', fields='symbol', species='UCBPP-PA14')

querying 1-5...done.
Finished.

In [7]:
out2

[{u'_id': u'879245',
  u'_score': 20.298063,
  u'query': u'NP_064726.1',
  u'symbol': u'PA0006'},
 {u'_id': u'878214',
  u'_score': 20.298063,
  u'query': u'NP_064728.1',
  u'symbol': u'glyS'},
 {u'_id': u'877921',
  u'_score': 20.298689,
  u'query': u'NP_248701.1',
  u'symbol': u'PA0011'},
 {u'_id': u'877634',
  u'_score': 20.298517,
  u'query': u'NP_248703.1',
  u'symbol': u'PA0013'},
 {u'_id': u'879294',
  u'_score': 20.298338,
  u'query': u'NP_248704.1',
  u'symbol': u'PA0014'}]

In [7]:
xl3 = ['0038']

In [10]:
out3 = mg.querymany(xl3, scopes='entrezgene', fields='symbol', species='UCBPP-PA14')

querying 1-1...done.
Finished.

In [11]:
out3

[{u'_id': u'38', u'_score': 22.650988, u'query': u'0038', u'symbol': u'ACAT1'}]

In [43]:
out4 = mg.querymany('NP_064726.1', scopes='RefSeq', fields='symbol', species='UCBPP-PA14')

querying 1-1...done.
Finished.

In [44]:
out4

[{u'_id': u'879245',
  u'_score': 20.298063,
  u'query': u'NP_064726.1',
  u'symbol': u'PA0006'}]

In [32]:
maindir = '/Users/ratisharma/Documents/Projects/RNAseq/'

fmain = open(maindir+'UCBPP-PA14-col.txt','r')
f1 = open(maindir+'PA14-col1.txt','w')
f2 = open(maindir+'PA14-col2.txt','w')
for i in range(12456):
    a = fmain.readline()
    if i>2 and i%2==0:
        f2.write(a)
    elif i>2 and i%2==1:
        f1.write(a) 
f1.close()
f2.close()
fmain.close()

In [1]:
def find_between( s, first, last ):
    try:
        start = s.index( first ) + len( first )
        end = s.index( last, start )
        return s[start:end]
    except ValueError:
        return ""

In [3]:
maindir = '/Users/ratisharma/Documents/Projects/RNAseq/'
f1 = open(maindir+'PA14-col1.txt','r')
#f2 = open(maindir+'PA14-col2.txt','r')

In [37]:
f1 = open(maindir+'PA14-col1.txt','r')
geneID = []
LocusTag = []
OldLocusTag = []
for i in range(6227):
    a = f1.readline()
    geneID.append('gene'+ find_between(a,'ID=gene',';'))
    LocusTag.append(find_between(a,'Name=',';'))
    OldLocusTag.append(find_between(a,'old_locus_tag=','\n'))
f1.close()

In [15]:
f2 = open(maindir+'PA14-col2.txt','r')
ParentID = []
refseqID = []
for i in range(6226):
    b = f2.readline()
    ParentID.append(find_between(b,'Parent=',';'))
    refseqID.append(find_between(b,'RefSeq:',';'))
f2.close()

In [4]:
import pandas as pd

In [38]:
ids2 = list(zip(geneID, LocusTag, OldLocusTag))
df10 = pd.DataFrame(data=ids2, columns=['geneID', 'LocusTag', 'OldLocusTag'])
df10.head(5)

  geneID      LocusTag OldLocusTag
0  gene0  PA14_RS00005  PA14_00010
1  gene1  PA14_RS00010  PA14_00020
2  gene3          gyrB  PA14_00050
3  gene4  PA14_RS00025  PA14_00060
4  gene5  PA14_RS00030  PA14_00070

In [39]:
df10.to_csv('geneNames-CDS.csv')

In [18]:
import sys

In [28]:
f4 = open(maindir+'UCBPP-PA14-col.txt','r')
geneID = []
LocusTag = []
OldLocusTag = []
for a in f4:
    #a = f4.readline()
    if 'ID=gene' in a:
        geneID.append('gene'+ find_between(a,'ID=gene',';'))
        LocusTag.append(find_between(a,'Name=',';'))
        OldLocusTag.append(find_between(a,'old_locus_tag=','\n'))
f4.close()

In [29]:
ids2=[]
ids2 = list(zip(geneID, LocusTag, OldLocusTag))
df10 = pd.DataFrame(data=ids2, columns=['geneID', 'LocusTag', 'OldLocusTag'])
df10.head(5)

  geneID      LocusTag             OldLocusTag
0  gene0  PA14_RS00005              PA14_00010
1  gene1  PA14_RS00010              PA14_00020
2  gene2  PA14_RS00015  PA14_00030;pseudo=true
3  gene3          gyrB              PA14_00050
4  gene4  PA14_RS00025              PA14_00060

In [30]:
df11 = df10.sort_values('LocusTag')
df11.head()

  geneID      LocusTag             OldLocusTag
0  gene0  PA14_RS00005              PA14_00010
1  gene1  PA14_RS00010              PA14_00020
2  gene2  PA14_RS00015  PA14_00030;pseudo=true
4  gene4  PA14_RS00025              PA14_00060
5  gene5  PA14_RS00030              PA14_00070

In [33]:
df11.to_csv('geneNames-CDS2.csv')

In [31]:
df11.shape

(6177, 3)

In [32]:
df11.tail()

        geneID LocusTag OldLocusTag
5222  gene5222     ychF  PA14_61820
5407  gene5407     yciH  PA14_64000
2082  gene2082     yegS  PA14_24970
4345  gene4345     ygbF  PA14_51690
1920  gene1920      zwf  PA14_23070